[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Manish-Singh288
[access "refs/for/refs/*"]
	read = group user/Manish-Singh288
	push = group user/Manish-Singh288
	label-Code-Review = -2..+2 group user/Manish-Singh288
	label-Verified = -1..+1 group user/Manish-Singh288
	rebase = group user/Manish-Singh288
	removeReviewer = group user/Manish-Singh288
	submit = group user/Manish-Singh288
[access "refs/heads/*"]
	read = group user/Manish-Singh288
	create = group user/Manish-Singh288
	push = +force group user/Manish-Singh288
	pushMerge = group user/Manish-Singh288
[access "refs/tags/*"]
	push = group user/Manish-Singh288
	push = +force group user/Manish-Singh288
