<section>
    <div class="row  dashboard-header">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>Online Bidding System</h3></div>
        <div class="col-md-1">
            <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-info logout-margin glyphicon glyphicon-log-out" uib-dropdown-toggle> <span class="caret"></span> </button>
                <ul class="dropdown-menu button-min-width" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                    <li role="menuitem"><a ng-click="profile()">Profile</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="" ng-click="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>