<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{prod.title}}</h3> </div>
<div class="modal-body" id="modal-body">
    <div class="row">
            <div class="row ">
                <div class="col-sm-4">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" ng-model="prod.data.name" name="name"  required/> </div>  </div>
            
    </div>
</div>
<div class="modal-footer">
    <div class="btn-wrapper">
        <button type="button" class="btn btn-primary" ng-click="prod.cancel()">Cancel</button>
    </div>
</div>